---
import Layout from "@/layouts/Layout.astro";
import RealViewport from "@components/RealViewport.astro";
---

<Layout
    title="Timbre — Sounds"
    description="Collection of sounds made specifically for web experiences."
>
    <section class="flex size-full flex-col items-center justify-center px-5">
        <p>I no longer fear the razor guarding my heel</p>
    </section>
    <RealViewport />
</Layout>
