---
import Layout from "@/layouts/Layout.astro";
---

<Layout
    title="Timbre — A collection of sounds for your website."
    description="Collection of sounds made specifically for web experiences."
>
    <main>
        <p>I no longer fear the razor guarding my heel</p>
    </main>
</Layout>
