---
import Head from "@components/Head.astro";
import Header from "@components/nav/Header.astro";

interface Props {
    title: string;
    description: string;
    ogImage?: string;
}

const { ogImage = "/default-opengraph.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head {...Astro.props} ogImage={ogImage} />
    <body class="flex size-full flex-col font-sans">
        <slot />
        <Header />

        <style is:global>
            @tailwind base;
            @tailwind components;
            @tailwind utilities;

            ::-webkit-scrollbar {
                display: none;
            }
            body {
                -ms-overflow-style: none;
                scrollbar-width: none;
            }

            @layer base {
                :root {
                    /* DEFAULT theme */
                    --white: #fef9ec;
                    --black: theme("colors.black");
                    --real-white: theme("colors.white");

                    --primary: #307351;
                    --primary-dark: #122b1e;
                    --muted: #bfd6cb;
                    --neutral-muted: #4d4b47;
                }

                @font-face {
                    font-family: "Reed";
                    src: url(/fonts/Reed-Regular.woff2) format("woff2");
                    font-weight: 400;
                    font-style: normal;
                    font-display: swap;
                }

                @font-face {
                    font-family: "Pretendard";
                    src: url(/fonts/Pretendard-Regular.woff2) format("woff2");
                    font-weight: 400;
                    font-style: normal;
                    font-display: swap;
                }

                body {
                    @apply bg-brand-white text-brand-black;
                    font-feature-settings:
                        "rlig" 1,
                        "calt" 1;
                    text-rendering: optimizeLegibility;
                    -webkit-text-size-adjust: 100%;
                    -moz-text-size-adjust: 100%;
                    text-size-adjust: 100%;
                }
            }
        </style>
    </body>
</html>
