---
import "@/styles/global.css";

import Head from "@components/Head.astro";
import Footer from "@components/nav/Footer.astro";
import Header from "@components/nav/Header.astro";
import RealViewport from "@components/RealViewport.astro";

interface Props {
    title: string;
    description: string;
    ogImage?: string;
}

const { ogImage = "/default-opengraph.png", ...props } = Astro.props;
---

<!doctype html>
<html lang="en">
    <Head {...props} ogImage={ogImage} />
    <body class="flex size-full flex-col font-sans text-base">
        <main class="flex h-dvh flex-col gap-6">
            <!-- <main class="flex h-full flex-col gap-6"> -->
            <!-- <main class="flex h-[calc(var(--vh,_1vh)_*_100)] flex-col gap-6"> -->
            <slot />
            {Astro.url.pathname === "/" ? null : <Footer />}
        </main>
        <Header />
        <RealViewport />
    </body>
</html>
