---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {
    variant?: "default" | "muted";
}

const { class: className, variant = "default", ...props } = Astro.props;

export const classes =
    "inline-flex h-8 items-center justify-center whitespace-nowrap rounded-full px-3 py-1 text-base ring-offset-brand-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-brand-primary focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50";

const buttonVariants = {
    default: `${classes} text-brand-white`,
    muted: `${classes} bg-brand-neutral-muted`,
};
---

<button
    class={`${buttonVariants[variant]}${className ? " " + className : ""}`}
    {...props}
>
    <slot />
</button>
