---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"button"> {}

const { class: className } = Astro.props;
---

<button
    class={`ring-offset-brand-white focus-visible:ring-brand-primary inline-flex items-center justify-center whitespace-nowrap rounded-full text-base text-brand-white transition-colors focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-offset-2 disabled:pointer-events-none disabled:opacity-50${className ? " " + className : ""}`}
    {...Astro.props}
>
    <slot />
</button>
