---
import Link from "@components/nav/Link.astro";
---

<footer
    class="flex w-full max-w-3xl justify-between uppercase text-brand-primary-dark"
>
    <p>Yuri Silva</p>
    <p>©2024 timbre</p>
    <Link
        href="https://x.com/yidxte"
        variant="ghost"
        class="underline underline-offset-2"
        target="_blank">X (Twitter)</Link
    >
</footer>
