<footer
    class="mx-auto flex w-full max-w-3xl items-center justify-between p-2 uppercase text-brand-primary-dark"
>
    <p>Yuri Silva</p>
    <p>©2024 timbre</p>
    <a
        href="https://x.com/yidxte"
        class="underline underline-offset-2"
        target="_blank">X (Twitter)</a
    >
</footer>
