---
import Logo from "@components/Logo.astro";
import Link from "@components/nav/Link.astro";
---

<header class="fixed left-0 top-0 flex w-full justify-between px-5 pt-5">
    <a href="/" aria-label="Go to homepage">
        <div>
            <Logo />
        </div>
    </a>
    <Link
        href="/sounds"
        class="hover:bg-brand-neutral-muted/80 bg-brand-neutral-muted"
        >Check our catalog -&gt;</Link
    >
</header>
