---
import Logo from "@components/Logo.astro";
import Button from "@components/nav/Button.astro";
---

<header class="fixed left-0 top-0 flex w-full justify-between px-5 pt-5">
    <div>
        <Logo />
    </div>
    <Button class="bg-brand-neutral-muted h-10 px-3 py-1 text-brand-white"
        >Check our catalog -&gt;</Button
    >
</header>
